:root{
  --genoa: #F3F3F3;
}

* {box-sizing:border-box}

body{
  color: #F3F3F3;
  background-color: #100F0F;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.invisible{
  display: none;
}

.unmarked{
  list-style: none;
}

.slider-title{
  font-weight: 600;
  font-size: 32px;
  line-height: 1.22;
  margin: 0;
}

.slider-text{
  font-size: 16px;
  line-height: 1.25;
  margin: 16px 0 20px;
}

.slider-btn{
  font-family: inherit;
  font-size: 20px;
  line-height: 1.2;
  color: inherit;
  /* background-color: #BC1A1A; */
  background-color: rgba(188, 26, 26, 0.2);
  padding: 10px 58px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-frame{
  width: 920px;
  margin: 0;
  padding: 0;
}

.slider-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.slider-item:nth-child(even){
  flex-direction: row-reverse;
}

.product-img{
  width: 400px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.product-review{
  margin: 75px auto auto;
  width: 406px;
}

/* Hide the images by default */
.slideOdd,
.slideEven {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover,
.prev:focus, .next:focus, {
  background-color: rgba(255,255,255,0.9);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}